
# Build outputs
# Debug
# Dependencies
# Env
# Expo
# IDE
# Local env
# Metro
# Native build artifacts
# Node
# TypeScript
# macOS
*.jks
*.key
*.mobileprovision
*.orig.*
*.p12
*.p8
*.pem
*.swo
*.swp
*.tsbuildinfo
.AppleDouble
.DS_Store
.LSOverride
.env
.env.*.local
.env.local
.expo/
.idea/
.metro-health-check*
.vscode/
build/
dist/
node_modules/
npm-debug.*
npm-debug.log*
web-build/
yarn-debug.*
yarn-error.*
yarn-error.log
